*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    padding:0;
    margin:0;
}
header{
    width:100vw;
    max-width: 100%;
    height: 200px;
    // border:1px solid;
    box-sizing: border-box;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:30px 0;
    display:grid;
    grid-template-columns: 30% 70%;
    // background-color: #2196F3;
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }
    div.logo{
        height: 100%;
        grid-row: 1 / span 2;
        
        img{
            float: right;
        }
    }
    nav{
        display:flex;
        align-items: center;
        ul{
            list-style-type: none;
            display:flex;
            li{
                margin-left: 20px;
            }
            li:hover{
                cursor: pointer;
                color:#307253;
            }
            .registration{
                margin-left:150px;
                position: relative;
            }
            .registration::after{
                content:"";
                height:10px;
                border-left:2px solid black;
                width:1px;
                position: absolute;
                right:-12px;
                top:6px;
            }
            .login{

            }
            .flag{
                box-sizing: border-box;
                width:40px;
                height:30px;
            }
        }
    }
    div.search{
        .search__navbar{
            display:flex;
            .search__navbar--item{
                width:200px;
                height: 40px;
                background-color: #F1F2F2;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 100;
                color: #808285;
                display:flex;
                justify-content: center;
                align-items: center;
                margin-right:8px;
            }
            .search__navbar--item:hover{
                cursor: pointer;
                background-color: #333333;
                color:#FFFFFF;
            }
        }
        .search__input{
            width:60%;
            height:60px;
            background-color: #307253;
            display: inline-flex;
            justify-content: space-between;
            padding:8px;
            position: relative;
            .search__input--find{
                background-color: white;
                display:flex;
                flex:1;
                border-radius: 5px;
                position: relative;
                
                .search__input--find-one{
                    width:180px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    color: #307253;
                    border:none;
                    option{
                        text-indent: 10px;
                    }
                }
                
                select {
                    /* for Firefox */
                    -moz-appearance: none;
                    /* for Chrome */
                    -webkit-appearance: none;
                    // background-repeat: no-repeat;
                    padding:0 10px;
                }
                  /* For IE10 */
                select::-ms-expand {
                    display: none;
                }
                
                
            }
            .search__input--find-two{
                // flex:1;
                // padding:5px 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                // height:40px;
                border:none;
                border-left: 2px solid #ccc;
                flex:1;
            }
            .search__input--find::after{
                // content:url('./img/iconmenu.png');
                // // content:"";
                // display:block;
                // z-index: 20;
                // font-family: "Font Awesome 5 Free";
                // font-size: 20px;
                // font-weight: 400;
                // position: absolute;
                // width:200px;
                // height:200px;
                // background-color:  transparent;
                // top:100%;
                // right: 500px;
                // content:"\f0c9";
                // font-size: 20px;
                // display: block;
                // width: 3px;
                // height: 5px;
                // background: url('./img/iconmenu.png') transparent no-repeat;
            }
            
            i {
                color:white;
                margin:8px;
                font-size: 30px;
            }
            i:hover{
                cursor: pointer;
            }
        }
    }

    
    
}
main{
    width:100vw;
    max-width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    // align-items: center;
    // background-color: #2196F3;
    .imagebig{
        // background:url('./img/img1.png');
        max-width:100%;
        height: 600px;
        background-image:url('./img/img1.png');
        background-size:100% auto;
        background-repeat: no-repeat;
        
    }
    .mainone{
        width:90vw;
        margin:5vw;
        margin-bottom: 5vw;
        // background-color: #307253;
        // display:flex;
        h2{
            display:block;
            font-family: Roboto;
            font-weight: 400;
            color:#307253;
            margin-bottom: 20px;
        }
        .mainone__img{
            display:flex;
           
            .mainone__img--big{

                width:60%;
                height: 600px;
            }
            ul{
                list-style-type: none;
                margin-left: 10px;
                // height: 400px;
                // box-sizing: border-box;
                li{
                    height:150px ;
                    overflow:visible;
                }
                
            }
            h3{
                font-family: Roboto;
                font-weight: 500;
                color:#307253;
                margin-left:20px;
            }
    
        }
    }
    .maintwo{
        width:90vw;
        margin:5vw;
        &__mark{
            
            display:flex;
            margin-top:20px;
            // background-color: blue;
            .maintwo__mark--one{
                width:50%;
                height: 600px;
            }
            .maintwo__mark--two{
                width:50%;
                overflow: hidden; 
                ul{
                    li{
                           width:100%;
                           height: 50%;
                    }
                }
            }
        }
        &__list{
            display:flex;
            justify-content:space-between;
             
            margin:20px 0;
            color:#307253;
            .maintwo__list--item{
                width:20vw;
                display:flex;
                justify-content:center;
                align-items: center;
                position: relative;
                img{
                    width:102%;
                }
                li{
                    margin-left: 5px;
                    img{
                        margin-left:-5px;
                    }
                }
                
            }
            .maintwo__list--item::before{
                content:"";
                position: absolute;
                height: 90px;
                // background-color: red;
                color:#707070;
                border: 1px solid;
                display:block;
                top:200px;
                right:100%;
            }
        }
    }
    .mainthree{
        img{
            width:100vw;
            max-width: 100%;
        }
    }
    .mainfour{
        width:90vw;
        // min-width: 90%;
        // margin-top:5px;
        margin: 2vh auto;
        border-bottom: 3px solid #F2F2F2;
        
        &__title{
            display:block;
            font-weight: 600;
            font-family: Roboto;
            color:#307253;
            margin-bottom: 20px;
            
        }
        &__list{
            display:flex;
            flex-wrap: wrap;
            justify-content:space-around;
            align-items:center;
        }
        &__list--item{
            
        }
        h3{
            margin:4vh;
            text-align: center;
            cursor: pointer;
            background-color: #c2bdbd46;
        }
    }
}
.mainfive{
    width:90vw;
    color:#307253;
    font-family: Roboto;
    font-weight: 500;
    margin: 2vh auto;
    display:flex;
    .mainfive__one{
        width:30vw;
        // background-color: #2196F3;
        padding-right:10px;
        ul{
            display:flex;
            justify-content:space-between;
            margin:5px 0;
        }
        img{
            width: 100%;
        }
    }
    .mainfive__two{
        // background-color: rgb(172, 175, 172);
        width:30vw;
        padding:0 10px;
        h3{
            display: flex;
            justify-content:center;
            background-color: #F2F2F2;
        }
        .mainfive__two--one{
            border-bottom:2px solid #DCDDDE;
            padding-top:40px;
            margin-top: 40px;
        }
    }
    .mainfive__three{
        // background-color:yellow;
        width:30vw;
        img{
            // height: 600px;
        }
    }
}
footer{
    // background-image: url('./img/img13.png');
    width:100vw;
    max-width: 100%;
    display:block;
    background-image: url("./img/img13.png");
    height: 1000px;
    position: relative;
    // justify-content:center;
    // align-items: center;
    .lineAll{
        // background-color: black;
        width:100vw;
        max-width: 100%;
        display:block;
        position: relative;
        height:4vw;
        background-color:#307253;
        color:white;
        display:flex;
        justify-content:center;
        align-items: center;
        .lineAll--one{
            width:50%;
            display:flex;
            justify-content:center;
            align-items: center;
            cursor: pointer;
            // z-index: -1;
        }
        
        .lineAll--two{
            width:50%;
            height:4vw;
            background-color: black;
            cursor: pointer;
            display:flex;
            justify-content:center;
            align-items: center;
            border:2vw solid;
            border-color: transparent transparent transparent #307253;
        }
        img{
            z-index: 1;
            position: absolute;
            width:100px;
            height: 100px;
            border-radius: 100px;
            box-shadow: 3px 3px  0 rgba(0, 0, 0, 0.2);

            background-color: transparent;
            
        }
        .lineAll--fb{
            position: absolute;
            top: -65%;
            right: 60%;
        }
        .lineAll--ytb{
            position: absolute;
            top:-65%;
            right: 51%;
        }
        .lineAll--sky{
            position: absolute;
            top:-65%;
            right: 42%;
        }
        .lineAll--fp{
            position: absolute;
            top:-65%;
            right: 33%;
        }
    }
    .info{

    }
    form{
        color:#307253;
        position: absolute;
        right:12%;
        font-size: 300%;
        padding-top: 8vh;
        
        .form__item{
            border-bottom: 2px solid #707070;
            font-weight: 500;
        }
        input{
            border:none;
            text-transform: none;
            outline: none;
        }
        fieldset{
            width: 100%;
            height: 300px;
            border-radius: 5px;
            // 
            textarea{
                width:100%;
                height:100%;
                outline: none;
                border: none;
                background-color: transparent;
            }
        }
    }
    
    .info{
        width:42vw;
        position:absolute;
        left:10%;
        top:42%;
        color:#307253;
        margin:5px 0;
        font-size: 200%;
        .info--one{
            display:block;
            border-bottom: 3px solid #707070;
            div{
                margin:5px 0;
            }
        }
        .info--two{
            display:block;
            div{
                margin:10px 0;
            }
        }
    }
}
ul{
    list-style-type: none;
}
